VITE_API_URL=http://127.0.0.1:8000/api

# Firebase Web App config (Project Settings -> General -> Your apps)
VITE_FIREBASE_API_KEY=AIzaSyAf_exc13iwcrW0QQUtisAL-MJzNpm9ThU
VITE_FIREBASE_AUTH_DOMAIN=easystudy-7d63f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=easystudy-7d63f
VITE_FIREBASE_APP_ID=1:455265516072:web:6e4d4ce33af406d990531d
VITE_FIREBASE_STORAGE_BUCKET=easystudy-7d63f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=455265516072
VITE_FIREBASE_MEASUREMENT_ID=G-0K1MM0K6SL
